.kevin-stage{
    display: flex;
}
.kevin-stage-outer{
    overflow-x: hidden;
}
.kevin-item{
    user-select: none; /* Standard */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.kevin-nav{
    margin-top: 20px;
    text-align: center;
}
.kevin-nav span{
    cursor: pointer;
    font-size: 2rem;
    margin: 0 .5rem;
    border-radius: 1rem;
    padding: 0 5px;
    padding-bottom: 5px;
}
.kevin-nav span:hover{
    background-color: rgba(0,0,0,.25);
}
.kevin-nav img{
    cursor: pointer;
}
